* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#cell-2, #cell-3, #cell-4 {
    border: 1.5px solid black;
}
body {
    font-family: "desdemona";
    border: 1.5px solid black;
}
p {font-size: 17px;}
h3 {font-size: 25px;}

header, footer {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: floralwhite url("colibri2.jpg") no-repeat;
    background-size: 5000px 540px;
    border: 1.5px solid black;
    border-right: 0px;
}
header {
    border-top: 0px;
    border-left: 0px;
}
header h1,footer h1 {
    font-family: "footlight mt light";
    text-transform: uppercase;
    font-size: 45px;
    margin-left: 30px;
    text-align: right;
}
header h3 {
    font-family: "desdemona";
    font-size: 22px;
    margin-right: 14px;
}

main {
    display: flex;
    justify-content: space-between;
}
#cell-1 {
    width: 35.5%;
    background-color: cadetblue;
    padding: 2px 10px 0px 10px;
    text-align: left;
    color: floralwhite;
    border-right: 24px solid black;
    padding-left: 12px;
}
#cell-1 h3 {
    padding-bottom: 30px;
    padding-top: 38px;
}
#cell-1 img {
    width: 100%;
}
#cell-1 p {
    padding-top: 40px;
}

#cell-2 {
    width: 22.2%;
    background-color: lightsteelblue;
    padding: 20px 10px 0px 10px;
    margin-left: 0px;
    border-right: 25px solid black;
    border-top: 0px;
    border-bottom: 0px;
}
#cell-2 h3 {
    margin-bottom: 30px;
    margin-top: 0px;
}

section {
    display: flex;
    flex-flow: row wrap;
    width: 42.3%;
}

#cell-3 {
    width: 100%;
    background-color: cadetblue;
    text-align: center;
    border-top: 0px;
    border-right: 0px;
}

#cell-4 {
    width: 48.5%;
    background-color: lightsteelblue;
    padding: 20px 10px 21px 10px;
    border-top: 0px;
    border-bottom: 0px;
}
#cell-4 h3 {
    margin-bottom: 30px;
    margin-top: 0px;
}

#cell-5 {
    width: 51.5%;
    background-color: lightsteelblue;
    padding: 20px 10px 21px 10px;
    margin-left: 0px;
    border-left: 25px solid black;
}
#cell-5 h3 {
    margin-bottom: 30px;
    margin-top: 0px;
}

ul { padding-left: 7px;}
ol {
    color: darkblue;
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
}
ol li p{
    color:black;
    font-weight: normal;
    font-size: 17px;
}

nav a:link, nav a:visited {
    color: white;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {color: black;}
nav a { margin-right: 28px;}
nav {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 2%;
}

footer {
    border-bottom: 0px;
    border-left: 0px;
}
footer h1 {
    margin-right: 30px;
}
footer h3 {
    font-family: "desdemona";
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
}

#myBtn1, #myBtn2 {
    border: 2px solid black;
    background-color: lightgrey;
    padding: 12px 16px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 160px;
}

.modal, .moda {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 80px;
    padding-bottom: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content, .modal-content2 {
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid black;
    width: 65%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.close, .close2 {
    margin-top: 3.5px;
    color: black;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close2:hover {
    text-decoration: none;
    cursor: pointer;
    color: red;
}

#controls, #controls2 {
    height: 40px;
    padding: 0px 16px;
    background-color: white;
    color: white;
    border: 1.5px solid darkblue;
    border-bottom: 0.5px;
    display: flex;
}

#animation-area, #animation-area2 {
    width: 100%;
    height: 75vh;
    border: 5px solid darkblue;
    background-image: url("texture1.png");
    background-repeat: repeat;
}

#Button, #Button2 {
    margin-left: 14px;
    font-size: 22px;
    background: none;
    border: none;
    outline: none;
}
#Button:hover, #Button2:hover {
    cursor: pointer;
    color: green;
}

#message, #message2 {
    color: black;
    margin-left: 73%;
    margin-top: 8px;
    font-size: 17px;
}

#cell-5 {
    overflow-y: scroll;
    height: 94vh;
}
li{
    list-style-type: none;
}